* {
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    color: #d6d6d6;
}

QLabel {
    font-size: 14pt;
    font-weight: bold;
    color: #d6d6d6;
}

QLabel[class="title"] {
    font-size: 16pt;
    font-weight: bold;
    color: #d6d6d6;
}

QLabel#AppTitle {
    font-size: 16pt;
    font-family: 'BBH Sans Hegarty', Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #d6d6d6;
}

QLabel#AppSubTitle {
    font-size: 12pt;
    font-weight: lighter;
}

QCheckBox[class="text"] {
    font-size: 10pt;
    font-weight: bold;
    color: #d6d6d6;
}

QPushButton#LoRaConnectButton {
    background-color: #813581;
    color: white;
    font-size: 12pt;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 12px;
}

QPushButton#LoRaConnectButton:hover {
    background-color: #6d256d;
}

QFrame#SideBar {
    background-color: #813581;
}

QPushButton[class="menuBtn"] {
    background-color: #d6d6d6;
    color: #0c0b0b;
    font-size: 1rem;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 6px;
}

QPushButton[class="menuBtn--disable"] {
    background-color: #000;
}

QPushButton[class="sidebarButton"] {
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    background-color: #813581;
    color: #d6d6d6;
}

*[class="input"] {
    background-color: #d6d6d6;
    color: #0c0b0b;
    font-size: 1rem;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 6px;
}

#GraphFrame QLabel[class="currentValue"] {
    border: 1px solid #6d256d ;
    font-size: 12pt;
    color: #af5faf;
}